@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts {  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brand-color);
    width: 1200px;
       }
  
.button-request  {    
    box-sizing: border-box;
    align-items: center;
    border-width: 2px;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 0 50px 0 50px;
    }
.button-request-text    {
    color: var(--title-color);
    text-transform: uppercase;
}
.button-request:hover   {
    background-color: var(--light-accent-color);
}
     .learn-more-about-brand    {
        display: flex;
        background-color: var(--background-color);
        align-items: center;
        gap: 40px;
     }   

 .contacts h2 {
    justify-content: center;
    color: var(--background-color);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  
    }

    .contacts button-request:hover {
        background-color: var(--light-accent-color);
    }

.divider-right-row {
    color: var(--brand-color);    
}

.dot    {
    color: var(--light-accent-color);  
}
.learn-more  {
    color: var(--title-color);
    font-size: 34px;
    font-family: 'rajdhani', sans-serif; 
    font-weight: bold;   
   }

.coworking-invitation {
    color: var(--subtitle-color);
    font-size: 19px;
    font-family: 'heebo', sans-serif;   
    }

.date-set {
    display:flex;
    font-size: 13px;
    color: var(--brand-color);
    font-family: 'rajdhani', sans-serif;
    text-transform: uppercase;    
}

.architecture-blog   {
    color: var(--title-color);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;    
}

.more-info  {
    font-size: 12px;
    font-weight: bold;
    font-family: 'heebo', sans-serif;
    color: var(--light-accent-color);    
}
      