@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts   {
    background: #ffa800; /*var(--brand-color);*/
    text-align: center;
}
.contacts h2 {
    color: rgb(3, 31 ,53);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  /**/
}
.button-request-content  {
    font-family: 'heebo', sans-serif;
    color: rgb(255, 255, 255);
}
.button-request  {
    background-color: rgb(3, 31 ,53);
}
.divider {
    color: #ffa800; /*var(--brand-color);*/
}
.dot    {
    color:rgb(0, 137, 182);
    /*color: var(--light-accent-color);*/
}
.learn-more  {
    color: rgb(3, 31 ,53);
    font-size: 34px;
    font-family: 'rajdhani', sans-serif; 
    font-weight: bold;
}
.invitation {
    color: rgb(214, 215, 222);
    font-size: 19px;
    font-family: 'heebo', sans-serif;
}
.date-set {
    font-size: 13px;
    color: rgb(255, 168, 0);
    font-family: 'rajdhani', sans-serif;
    text-transform: uppercase;
}
.architecture   {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;
}
.architecture-meaning   {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: rgb(171, 172, 184);
    background-color: rgb(3, 31 ,53);
}
.more-info  {
    font-size: 12px;
    font-family: 'heebo', sans-serif;
    color: rgb(0, 137, 182;)
}
.right-row  {
    color: #ffa800; /*var(--brand-color);*/
}
.professional-blog   {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;
}
.our-invitation {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: rgb(171, 172, 184);
    background-color: rgb(3, 31 ,53);
}