@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts {  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--brand-color);
    width: 1200px;
    padding: 0 0 50px 0;
    margin-bottom: 50px;
       }

.button__request-text    {
    color: var(--title-color);
    text-transform: uppercase;
}

     .learn__more-about-brand    {
        display: flex;
        background-color: var(--background-color);
        align-items: center;
        gap: 40px;
     }   

 .contacts h2 {
    justify-content: center;
    color: var(--background-color);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  
    }

.divider__right-row {
    color: var(--brand-color);    
}

.dot    {
    color: var(--light-accent-color);  
}
.learn__more-about-brand-read-more  {
    color: var(--title-color);
    font-size: 34px;
    font-family: 'rajdhani', sans-serif; 
    font-weight: bold;   
   }

.learn__more-about-brand-coworking-invitation {
    color: var(--subtitle-color);
    font-size: 19px;
    font-family: 'heebo', sans-serif;   
    }

.learn__more-about-brand-date-set {
    display:flex;
    font-size: 13px;
    color: var(--brand-color);
    font-family: 'rajdhani', sans-serif;
    text-transform: uppercase;    
}

.learn__more-about-brand-architecture-blog   {
    color: var(--title-color);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;    
}

.learn__more-about-brand-read-more  {
    font-size: 12px;
    font-weight: bold;
    font-family: 'heebo', sans-serif;
    color: var(--light-accent-color);    
}
      