@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts   {   
    background: #ffa800; /*var(--brand-color);*/
    align-items: center;
    width: 600px;
     }
     .learn-more-about-brand    {
        display: flex;
        justify-content: center;
     }
.contacts div   {
    align-items: center;
}    
 .contacts h2 {
    color: rgb(3, 31 ,53);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  
    }
.button-request-content  {
    font-family: 'heebo', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 31 ,53);
}
.button-request  {
    background-color: rgb(3, 31 ,53);
    margin-bottom: 3px;
}
.divider {
    color: #ffa800; /*var(--brand-color);*/
    background-color: rgb(3, 31 ,53);
}
.dot    {
    color:rgb(0, 137, 182);
    /*color: var(--light-accent-color);*/
    background-color: rgb(3, 31 ,53);
}
.learn-more  {
    color: rgb(255,255,255);
    font-size: 34px;
    font-family: 'rajdhani', sans-serif; 
    font-weight: bold;
    background-color: rgb(3, 31 ,53);
}
.invitation {
    color: rgb(214, 215, 222);
    font-size: 19px;
    font-family: 'heebo', sans-serif;
    background-color: rgb(3, 31 ,53);
}
.date-set {
    display:flex;
    font-size: 13px;
    color: rgb(255, 168, 0);
    font-family: 'rajdhani', sans-serif;
    text-transform: uppercase;
    background-color: rgb(3, 31 ,53);
}
.architecture   {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;
    background-color: rgb(3, 31 ,53);
}
.architecture-meaning   {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: rgb(171, 172, 184);
    background-color: rgb(3, 31 ,53);
}
.more-info  {
    font-size: 12px;
    font-weight: bold;
    font-family: 'heebo', sans-serif;
    color: rgb(0, 137, 182);
    background-color: rgb(3, 31 ,53);
}
.right-row  {
    color: #ffa800; /*var(--brand-color);*/
    background-color: rgb(3, 31 ,53);
}
.professional-blog   {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'rajdhani', sans-serif;
    background-color: rgb(3, 31 ,53);
}
.our-invitation {
    font-size: 17px;
    font-family: 'heebo', sans-serif;
    color: rgb(171, 172, 184);
    background-color: rgb(3, 31 ,53);
}
.our-contact-info   {
   
    background-color: rgb(3, 31 ,53);
}
.business-center-img    {
    width:366px;
}