@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
.contacts   {
    background: #ffa800; /*var(--brand-color);*/
    text-align: center;
}
.contacts h2 {
    color: rgb(3, 31 ,53);
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;  /**/
}
.button-request-content  {
    font-family: 'heebo', sans-serif;
    color: rgb(255, 255, 255);
}
.button-request  {
    color: rgb(3, 31 ,53);
}